<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- load jquery -->
<script src="/static/src/jquery-4.0.0.min.js" defer></script>

<!-- load bootstrap -->
<link rel="stylesheet" href="/static/src/bootstrap.min.css" />
<script src="/static/src/bootstrap.min.js" defer></script>

<!-- load native styles and scripts -->
<link rel="stylesheet" href="/static/dist/style.css" />
<script src="/static/dist/script.js" defer></script>